*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.spl
*.nav
*.snm
*.synctex.gz
*.DS_Store
.texpadtmp
_site
Gemfile
Gemfile.lock